".\SOURCE\src\Gsd2Aml.CLI\bin" 
".\SOURCE\src\Gsd2Aml.GUI\bin" 
".\SOURCE\src\Gsd2Aml.Test\bin" 
".\SOURCE\src\Gsd2Aml.Lib\bin" 
".\SOURCE\src\Gsd2Aml.CLI\obj" 
".\SOURCE\src\Gsd2Aml.Lib\obj" 
".\SOURCE\src\Gsd2Aml.GUI\obj" 
".\SOURCE\src\Gsd2Aml.Test\obj" 
".\SOURCE\src\.vs"
".\.vs"

src/*/obj
src/*/bin
src/*/.vs
src/.vs
3rd/
.vs/
*.user
obj
tst/*.amlx