".\SOURCE\src\Gsd2Aml.CLI\bin" 
".\SOURCE\src\Gsd2Aml.GUI\bin" 
".\SOURCE\src\Gsd2Aml.Test\bin" 
".\SOURCE\src\Gsd2Aml.Lib\bin" 
".\SOURCE\src\Gsd2Aml.Setup\bin" 
".\SOURCE\src\Gsd2Aml.CLI\obj" 
".\SOURCE\src\Gsd2Aml.Lib\obj" 
".\SOURCE\src\Gsd2Aml.GUI\obj" 
".\SOURCE\src\Gsd2Aml.Test\obj" 
".\SOURCE\src\Gsd2Aml.Setup\obj"
".\SOURCE\src\.vs"
".\.vs"

SOURCE/src/*/obj
SOURCE/src/*/bin
SOURCE/src/*/.vs
SOURCE/src/.vs
SOURCE/3rd/
SOURCE/.vs/
SOURCE/*.user
SOURCE/obj
SOURCE/tst/*.amlx
